html {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
}

.box-shadow {
	-webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.25);
}

.invalid-boarder {
	border: 1px solid red;
}

.main-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-image: url('../../public/bg-intro-desktop.png');

	background-color: hsl(0, 100%, 74%);

	justify-items: center;
	align-items: center;

	height: 100vh;
}

.left-wrapper {
	color: white;
	justify-self: end;
}

.text-wrapper {
	max-width: 50ch;
	margin: 1rem;
}

.text-wrapper > h1 {
	font-size: 3rem;
	line-height: 1.1;
}

.text-wrapper > p {
	font-size: 1rem;
}

.right-wrapper {
	justify-self: start;
}

.trial-message {
	color: white;
	background-color: hsl(248, 32%, 49%);
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 10px;
	margin: 1rem;
}

form {
	display: grid;
	background-color: white;
	border-radius: 10px;
	/* max-width: 30rem; */

	padding: 1rem;
	margin: 0 1rem;
}

input {
	padding: 1rem 2rem;
	margin: 0.5rem;
	border-radius: 5px;
	border: 1px solid gainsboro;
}

input::placeholder {
	font-weight: 700;
}

button {
	padding: 1rem;
	color: white;
	background-color: hsl(154, 59%, 51%);
	border: 2px solid transparent;
	border-radius: 5px;

	font-weight: 600;

	transition: 0.05s ease-out;

	margin-top: 1rem;
}

button:hover {
	scale: 1.025;
}

button:active {
	scale: 1;

	background-color: hsl(154, 90%, 51%);
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
}

form > p {
	font-size: 0.75rem;
	color: rgb(170, 170, 170);
	text-align: center;
}

a {
	color: hsl(0, 100%, 74%);
	text-decoration: none;
	font-weight: 700;
}

.error-message {
	justify-self: end;
	margin: -8px;
	color: red;
	margin-right: 0;
	position: relative;
	right: 10px;
}

svg {
	position: absolute;
	bottom: 1.875rem;
	right: 1.25rem;
}

.bold-text {
	font-weight: 600;
}

@media (max-width: 26.563rem) {
	.main-wrapper {
		grid-template-columns: auto;
		background-image: url('../../public/bg-intro-mobile.png');
		background-size: cover;
	}

	.text-wrapper {
		text-align: center;
	}

	.text-wrapper > h1 {
		font-size: 2rem;
		line-height: 1.1;
	}

	.text-wrapper > p {
		font-size: 1rem;
	}
}
